@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-bold.woff2') format('woff2'), url('montserrat-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-light.woff2') format('woff2'), url('montserrat-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-medium.woff2') format('woff2'), url('montserrat-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-regular.woff2') format('woff2'), url('montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat-semibold.woff2') format('woff2'), url('montserrat-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
