.woocommerce-tabs {
    ul.tabs {
        list-style: none;
        padding: 0 0 0 1em;
        margin: 0 0 1.618em;
        overflow: hidden;
        position: relative;
        li {
            border: 1px solid darken( $secondary, 10%);
            background-color: $secondary;
            display: inline-block;
            position: relative;
            z-index: 0;
            border-radius: 4px 4px 0 0;
            margin: 0 -5px;
            padding: 0 1em;
            a {
                display: inline-block;
                padding: .5em 0;
                font-weight: 700;
                color: $secondarytext;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                    color: lighten( $secondarytext, 10%);
                }
            }
            &.active {
                background: $contentbg;
                z-index: 2;
                border-bottom-color: $contentbg;
                a {
                    color: inherit;
                    text-shadow: inherit;
                }
                &:before {
                    box-shadow: 2px 2px 0 $contentbg;
                }
                &:after {
                    box-shadow: -2px 2px 0 $contentbg;
                }
            }
            &:before,
            &:after {
                border: 1px solid darken( $secondary, 10%);
                position: absolute;
                bottom: -1px;
                width: 5px;
                height: 5px;
                content: " ";
            }
            &:before {
                left: -6px;
                -webkit-border-bottom-right-radius: 4px;
                -moz-border-bottom-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-width: 0 1px 1px 0;
                box-shadow: 2px 2px 0 $secondary;
            }
            &:after {
                right: -6px;
                -webkit-border-bottom-left-radius: 4px;
                -moz-border-bottom-left-radius: 4px;
                border-bottom-left-radius: 4px;
                border-width: 0 0 1px 1px;
                box-shadow: -2px 2px 0 $secondary;
            }
        }
        &:before {
            position: absolute;
            content: " ";
            width: 100%;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid darken( $secondary, 10%);
            z-index: 1;
        }
    }
    .panel {
        margin: 0 0 2em;
        padding: 0;
    }
}
