/**
 * _fonts.scss
 * Custom WooCommerce fonts.
 */

@font-face {
    font-family: 'star';
    src: url('../fonts/star.eot');
    src: url('../fonts/star.eot?#iefix') format('embedded-opentype'), url('../fonts/star.woff') format('woff'), url('../fonts/star.ttf') format('truetype'), url('../fonts/star.svg#star') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WooCommerce';
    src: url('../fonts/WooCommerce.eot');
    src: url('../fonts/WooCommerce.eot?#iefix') format('embedded-opentype'), url('../fonts/WooCommerce.woff') format('woff'), url('../fonts/WooCommerce.ttf') format('truetype'), url('../fonts/WooCommerce.svg#WooCommerce') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**
 * Deprecated
 * Fallback for bourbon equivalent
 */

@mixin clearfix() {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}


/**
 * Deprecated
 * Vendor prefix no longer required.
 */

@mixin border_radius($radius: 4px) {
    border-radius: $radius;
}


/**
 * Deprecated
 * Vendor prefix no longer required.
 */

@mixin border_radius_right($radius: 4px) {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}


/**
 * Deprecated
 * Vendor prefix no longer required.
 */

@mixin border_radius_left($radius: 4px) {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}


/**
 * Deprecated
 * Vendor prefix no longer required.
 */

@mixin border_radius_bottom($radius: 4px) {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}


/**
 * Deprecated
 * Vendor prefix no longer required.
 */

@mixin border_radius_top($radius: 4px) {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
}


/**
 * Deprecated
 * Vendor prefix no longer required.
 */

@mixin opacity( $opacity: 0.75) {
    opacity: $opacity;
}


/**
 * Deprecated
 * Vendor prefix no longer required.
 */

@mixin box_shadow($shadow_x: 3px,
$shadow_y: 3px,
$shadow_rad: 3px,
$shadow_in: 3px,
$shadow_color: #888) {
    box-shadow: $shadow_x $shadow_y $shadow_rad $shadow_in $shadow_color;
}


/**
 * Deprecated
 * Vendor prefix no longer required.
 */

@mixin inset_box_shadow($shadow_x: 3px,
$shadow_y: 3px,
$shadow_rad: 3px,
$shadow_in: 3px,
$shadow_color: #888) {
    box-shadow: inset $shadow_x $shadow_y $shadow_rad $shadow_in $shadow_color;
}


/**
 * Deprecated
 * Vendor prefix no longer required.
 */

@mixin text_shadow($shadow_x: 3px,
$shadow_y: 3px,
$shadow_rad: 3px,
$shadow_color: #fff) {
    text-shadow: $shadow_x $shadow_y $shadow_rad $shadow_color;
}


/**
 * Deprecated
 * Vendor prefix no longer required.
 */

@mixin vertical_gradient($from: #000,
$to: #fff) {
    background-color: $from;
    background: -webkit-linear-gradient($from, $to);
}


/**
 * Deprecated
 * Vendor prefix no longer required.
 */

@mixin transition($selector: all,
$animation: ease-in-out,
$duration: .2s) {
    transition: $selector $animation $duration;
}


/**
 * Deprecated
 * Use bourbon mixin instead `@include transform(scale(1.5));`
 */

@mixin scale($ratio: 1.5) {
    -webkit-transform: scale($ratio);
    transform: scale($ratio);
}


/**
 * Deprecated
 * Use bourbon mixin instead `@include box-sizing(border-box);`
 */

@mixin borderbox() {
    box-sizing: border-box;
}

@mixin darkorlighttextshadow($a,
$opacity: .8) {
    @if lightness($a) >=65% {
        @include text_shadow(0,
        -1px,
        0,
        rgba(0,
        0,
        0,
        $opacity));
    }
    @else {
        @include text_shadow(0,
        1px,
        0,
        rgba(255,
        255,
        255,
        $opacity));
    }
}


/**
 * Objects
 */

@mixin menu() {
    @include clearfix();
    li {
        display: inline-block;
    }
}

@mixin mediaright() {
    @include clearfix();
    img {
        float: right;
        height: auto;
    }
}

@mixin medialeft() {
    @include clearfix();
    img {
        float: right;
        height: auto;
    }
}

@mixin ir() {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
}

@mixin icon( $glyph: "\e001") {
    font-family: 'WooCommerce';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: $glyph;
}

@mixin icon_dashicons( $glyph: "\f333") {
    font-family: 'Dashicons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: $glyph;
}

@mixin iconbefore( $glyph: "\e001") {
    font-family: 'WooCommerce';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: $glyph;
    text-decoration: none;
}

@mixin iconbeforedashicons( $glyph: "\f333") {
    font-family: 'Dashicons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: .618em;
    content: $glyph;
    text-decoration: none;
}

@mixin iconafter( $glyph: "\e001") {
    font-family: 'WooCommerce';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-left: .618em;
    content: $glyph;
    text-decoration: none;
}

@mixin loader() {
    &:before {
        height: 1em;
        width: 1em;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -.5em;
        margin-top: -.5em;
        display: block;
        content: "";
        //@include animation( spin 1s ease-in-out infinite);
        background: url(../images/icons/loader.svg) center center;
        background-size: cover;
        line-height: 1;
        text-align: center;
        font-size: 2em;
        color: rgba(#000, 0.75);
    }
}

.woocommerce,
.woocommerce-page {
    .col2-set {
        @include clearfix();
        width: 100%;
        .col-1 {
            float: left;
            width: 48%;
        }
        .col-2 {
            float: right;
            width: 48%;
        }
    }
    /**
     * Cart page
     */
    table.cart,
    #content table.cart {
        img {
            height: auto;
        }
        td.actions {
            text-align: right;
            .input-text {
                width: 80px;
            }
            .coupon {
                float: left;
                label {
                    display: none;
                }
            }
        }
    }
    .cart-collaterals {
        @include clearfix();
        width: 100%;
        .related {
            width: 30.75%;
            float: left;
        }
        .cross-sells {
            width: 48%;
            float: left;
            ul.products {
                float: none;
                li {
                    width: 48%;
                }
            }
        }
        .shipping_calculator {
            width: 48%;
            @include clearfix();
            clear: right;
            float: right;
            .col2-set {
                .col-1,
                .col-2 {
                    width: 47%;
                }
            }
        }
        .cart_totals {
            float: right;
            width: 48%;
        }
    }
    /**
     * Forms
     */
    form {
        .form-row {
            @include clearfix();
            label {
                display: block;
                &.checkbox {
                    display: inline;
                }
            }
            select {
                width: 100%;
            }
            .input-text {
                box-sizing: border-box;
                width: 100%;
            }
        }
        .form-row-first,
        .form-row-last {
            float: left;
            width: 47%;
            overflow: visible;
        }
        .form-row-last {
            float: right;
        }
        .form-row-wide {
            clear: both;
        }
    }
    #payment {
        .form-row {
            select {
                width: auto;
            }
        }
        .wc-terms-and-conditions,
        .terms {
            text-align: left;
            padding: 0 1em 0 0;
            float: left;
        }
        #place_order {
            float: right;
        }
    }
}

.woocommerce-account {
    .woocommerce-MyAccount-navigation {
        float: left;
        width: 30%;
    }
    .woocommerce-MyAccount-content {
        float: right;
        width: 68%;
    }
}

.woocommerce {
    .blockUI.blockOverlay {
        position: relative;
        @include loader();
    }
    .loader {
        @include loader();
    }
    a.remove {
        display: block;
        font-size: 1.5em;
        height: 1em;
        width: 1em;
        text-align: center;
        line-height: 1;
        border-radius: 100%;
        color: red !important;
        text-decoration: none;
        font-weight: 700;
        border: 0;
        &:hover {
            color: #fff !important;
            background: red;
        }
    }
    small.note {
        display: block;
        color: $subtext;
        font-size: .857em;
        margin-top: 10px;
    }
    .woocommerce-breadcrumb {
        @include clearfix();
        margin: 0 0 1em;
        padding: 0;
        font-size: 0.92em;
        color: $subtext;
        a {
            color: $subtext;
        }
    }
    .quantity {
        .qty {
            width: 3.631em;
            text-align: center;
        }
    }
    /**
     * Buttons
     */
    a.button,
    button.button,
    input.button,
    #respond input#submit {
        font-size: 100%;
        margin: 0;
        line-height: 1;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        overflow: visible;
        padding: .618em 1em;
        font-weight: 700;
        border-radius: 3px;
        left: auto;
        color: $secondarytext;
        background-color: $secondary;
        border: 0;
        white-space: nowrap;
        display: inline-block;
        background-image: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        text-shadow: none;
        &.loading {
            opacity: 0.25;
            padding-right: 2.618em;
            &:after {
                font-family: "WooCommerce";
                content: "\e01c";
                vertical-align: top;
                -webkit-font-smoothing: antialiased;
                font-weight: 400;
                position: absolute;
                top: .618em;
                right: 1em;
                -webkit-animation: spin 2s linear infinite;
                -moz-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
            }
        }
        &.added {
            &:after {
                font-family: 'WooCommerce';
                content: "\e017";
                margin-left: .53em;
                vertical-align: bottom;
            }
        }
        &:hover {
            background-color: $secondary - #111;
            text-decoration: none;
            background-image: none;
            color: $secondarytext;
        }
        &.alt {
            background-color: $primary;
            color: $primarytext;
            -webkit-font-smoothing: antialiased;
            &:hover {
                background-color: $primary - #111;
                color: $primarytext;
            }
            &.disabled,
            &:disabled,
            &:disabled[disabled],
            &.disabled:hover,
            &:disabled:hover,
            &:disabled[disabled]:hover {
                background-color: $primary;
                color: $primarytext;
            }
        }
        &:disabled,
        &.disabled,
        &:disabled[disabled] {
            color: inherit;
            cursor: not-allowed;
            opacity: 0.5;
            padding: .618em 1em;
            &:hover {
                color: inherit;
                background-color: $secondary;
            }
        }
    }
    .cart .button,
    .cart input.button {
        float: none;
    }
    a.added_to_cart {
        white-space: nowrap;
        display: block;
        padding: 0;
        margin-bottom: 1rem;
        color: #fff;
        font-weight: 700;
    }
    /**
     * Tables
     */
    table.shop_attributes {
        border: 0;
        border-top: 1px dotted rgba(0, 0, 0, 0.1);
        margin-bottom: 1.618em;
        width: 100%;
        th {
            width: 150px;
            font-weight: 700;
            padding: 8px;
            border-top: 0;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
            margin: 0;
            line-height: 1.5;
        }
        td {
            font-style: italic;
            padding: 0;
            border-top: 0;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
            margin: 0;
            line-height: 1.5;
            p {
                margin: 0;
                padding: 8px 0;
            }
        }
        .alt td,
        .alt th {
            background: rgba(0, 0, 0, 0.025);
        }
    }
    table.shop_table {
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0px -1px 24px 0px;
        text-align: left;
        width: 100%;
        border-collapse: separate;
        border-radius: 5px;
        th {
            font-weight: 700;
            padding: 9px 12px;
        }
        td {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 6px 12px;
            vertical-align: middle;
            small {
                font-weight: normal;
            }
        }
        tbody:first-child {
            tr:first-child {
                th,
                td {
                    border-top: 0;
                }
            }
        }
        tfoot td,
        tfoot th,
        tbody th {
            font-weight: 700;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
    table.my_account_orders {
        font-size: 0.85em;
        th,
        td {
            padding: 4px 8px;
            vertical-align: middle;
        }
        .button {
            white-space: nowrap;
        }
        .order-actions {
            text-align: right;
            .button {
                margin: .125em 0 .125em .25em;
            }
        }
    }
    td.product-name {
        dl.variation {
            margin: .25em 0;
            @include clearfix();
            dt,
            dd {
                display: inline-block;
                float: left;
                margin-bottom: 1em;
            }
            dt {
                font-weight: 700;
                padding: 0 0 .25em 0;
                margin: 0 4px 0 0;
                clear: left;
            }
            dd {
                padding: 0 0 .25em 0;
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
        p.backorder_notification {
            font-size: 0.83em;
        }
    }
    td.product-quantity {
        min-width: 80px;
    }
    /**
     * Forms
     */
    form {
        .form-row {
            padding: 3px;
            margin: 0 0 6px;
            [placeholder]:focus::-webkit-input-placeholder {
                -webkit-transition: opacity 0.5s 0.5s ease;
                -moz-transition: opacity 0.5s 0.5s ease;
                transition: opacity 0.5s 0.5s ease;
                opacity: 0;
            }
            label {
                line-height: 2;
            }
            label.hidden {
                visibility: hidden;
            }
            label.inline {
                display: inline;
            }
            select {
                cursor: pointer;
                margin: 0;
            }
            .required {
                color: red;
                font-weight: 700;
                border: 0;
            }
            .input-checkbox {
                display: inline;
                margin: -2px 8px 0 0;
                text-align: center;
                vertical-align: middle;
            }
            input.input-text,
            textarea {
                box-sizing: border-box;
                width: 100%;
                margin: 0;
                outline: 0;
                line-height: 1;
            }
            textarea {
                height: 4em;
                line-height: 1.5;
                display: block;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            .select2-container {
                width: 100%;
                line-height: 2em;
            }
            &.woocommerce-invalid {
                label {
                    color: $red;
                }
                .select2-container,
                input.input-text,
                select {
                    border-color: $red;
                }
            }
            &.woocommerce-validated {
                .select2-container,
                input.input-text,
                select {
                    border-color: $green - #111;
                }
            }
            ::-webkit-input-placeholder {
                line-height: normal;
            }
            :-moz-placeholder {
                line-height: normal;
            }
            :-ms-input-placeholder {
                line-height: normal;
            }
        }
    }
    form.login,
    form.checkout_coupon,
    form.register {
        border: 1px solid darken( $secondary, 10%);
        padding: 20px;
        margin: 2em 0 2em 0px;
        text-align: left;
        border-radius: 5px;
    }
    ul#shipping_method {
        list-style: none outside;
        margin: 0;
        padding: 0;
        li {
            margin: 0;
            padding: .25em 0 .25em 22px;
            text-indent: -22px;
            list-style: none outside;
            input {
                margin: 3px 0.5ex;
            }
            label {
                display: inline;
            }
        }
        .amount {
            font-weight: 700;
        }
    }
    p.woocommerce-shipping-contents {
        margin: 0;
    }
    /**
     * Order page
     */
    .order_details {
        @include clearfix();
        margin: 0 0 1.5em;
        list-style: none;
        li {
            float: left;
            margin-right: 2em;
            text-transform: uppercase;
            font-size: 0.715em;
            line-height: 1;
            border-right: 1px dashed darken( $secondary, 10%);
            padding-right: 2em;
            margin-left: 0;
            padding-left: 0;
            list-style-type: none;
            strong {
                display: block;
                font-size: 1.4em;
                text-transform: none;
                line-height: 1.5;
            }
            &:last-of-type {
                border: none;
            }
        }
    }
    /**
     * Layered nav widget
     */
    .widget_layered_nav {
        ul {
            margin: 0;
            padding: 0;
            border: 0;
            list-style: none outside;
            li {
                @include clearfix();
                padding: 0 0 1px;
                list-style: none;
                a,
                span {
                    padding: 1px 0;
                }
            }
            li.chosen {
                a {
                    &:before {
                        @include iconbefore( "\e013");
                        color: $red;
                    }
                }
            }
        }
    }
    .widget_layered_nav_filters {
        ul {
            margin: 0;
            padding: 0;
            border: 0;
            list-style: none outside;
            overflow: hidden;
            zoom: 1;
            li {
                float: left;
                padding: 0 1px 1px 0;
                list-style: none;
                a {
                    text-decoration: none;
                    &:before {
                        @include iconbefore( "\e013");
                        color: $red;
                    }
                }
            }
        }
    }
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
    padding: 1em 2em 1em 3.5em !important;
    margin: 0 0 2em !important;
    position: relative;
    background-color: lighten($secondary, 5%);
    color: $secondarytext;
    border-top: 3px solid $primary;
    list-style: none outside !important;
    @include clearfix();
    width: auto;
    word-wrap: break-word;
    &:before {
        font-family: "WooCommerce";
        content: "\e028";
        display: inline-block;
        position: absolute;
        top: 1em;
        left: 1.5em;
    }
    .button {
        float: right;
    }
    li {
        list-style: none outside !important;
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
}

.woocommerce-message {
    border-top-color: #8fae1b;
    &:before {
        content: "\e015";
        color: #8fae1b;
    }
}

.woocommerce-info {
    border-top-color: #1e85be;
    &:before {
        color: #1e85be;
    }
}

.woocommerce-error {
    border-top-color: #b81c23;
    &:before {
        content: "\e016";
        color: #b81c23;
    }
}


/**
    * Account page
    */

.woocommerce-account {
    .woocommerce {
        @include clearfix();
    }
    .addresses {
        .title {
            @include clearfix();
            h3 {
                float: left;
            }
            .edit {
                float: right;
            }
        }
    }
    ol.commentlist.notes {
        li.note {
            p.meta {
                font-weight: 700;
                margin-bottom: 0;
            }
            .description {
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    ul.digital-downloads {
        margin-left: 0;
        padding-left: 0;
        li {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            &:before {
                @include iconbefore( "\e00a");
            }
            .count {
                float: right;
            }
        }
    }
}


/**
    * Cart/checkout page
    */

.woocommerce-cart,
.woocommerce-checkout,
#add_payment_method {
    table.cart {
        .product-thumbnail {
            min-width: 32px;
        }
        img {
            width: 32px;
            box-shadow: none;
        }
        th,
        td {
            vertical-align: middle;
        }
        td.actions {
            .coupon {
                .input-text {
                    float: left;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 1px solid darken( $secondary, 10%);
                    padding: 6px 6px 5px;
                    margin: 0 4px 0 0;
                    outline: 0;
                    line-height: 1;
                }
            }
        }
        input {
            margin: 0;
            vertical-align: middle;
            line-height: 1;
        }
    }
    .wc-proceed-to-checkout {
        @include clearfix;
        padding: 1em 0;
        a.checkout-button {
            display: block;
            text-align: center;
            margin-bottom: 1em;
            font-size: 1.25em;
            padding: 1em;
        }
    }
    .cart-collaterals {
        .shipping_calculator {
            .button {
                width: 100%;
                float: none;
                display: block;
            }
            .shipping-calculator-button {
                &:after {
                    @include iconafter( "\e019");
                }
            }
        }
        .cart_totals {
            p {
                small {
                    color: $subtext;
                    font-size: 0.83em;
                }
            }
            table {
                border-collapse: separate;
                margin: 0 0 6px;
                padding: 0;
                tr:first-child {
                    th,
                    td {
                        border-top: 0;
                    }
                }
                th {
                    width: 40%;
                }
                td,
                th {
                    vertical-align: top;
                    border-left: 0;
                    border-right: 0;
                    line-height: 1.5em;
                }
                small {
                    color: $subtext;
                }
                select {
                    width: 100%;
                }
            }
            .discount td {
                color: $highlight;
            }
            tr td,
            tr th {
                border-top: 1px solid $secondary;
            }
        }
        .cross-sells {
            ul.products {
                li.product {
                    margin-top: 0;
                }
            }
        }
    }
    .checkout {
        .col-2 {
            h3#ship-to-different-address {
                float: left;
                clear: none;
            }
            .notes {
                clear: left;
            }
            .form-row-first {
                clear: left;
            }
        }
        .create-account small {
            font-size: 11px;
            color: $subtext;
            font-weight: normal;
        }
        div.shipping-address {
            padding: 0;
            clear: left;
            width: 100%;
        }
        .shipping_address {
            clear: both;
        }
    }
    #payment {
        background: $secondary;
        border-radius: 5px;
        ul.payment_methods {
            @include clearfix();
            text-align: left;
            padding: 1em;
            border-bottom: 1px solid darken( $secondary, 10%);
            margin: 0;
            list-style: none outside;
            li {
                line-height: 2;
                text-align: left;
                margin: 0;
                font-weight: normal;
                @include clearfix;
                input {
                    margin: 0 1em 0 0;
                }
                img {
                    vertical-align: middle;
                    margin: -2px 0 0 .5em;
                    padding: 0;
                    position: relative;
                    box-shadow: none;
                }
                img + img {
                    margin-left: 2px;
                }
            }
        }
        div.form-row {
            padding: 1em;
        }
        div.payment_box {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            padding: 1em;
            margin: 1em 0 1em 0;
            font-size: 0.92em;
            border-radius: 2px;
            line-height: 1.5;
            background-color: darken( $secondary, 5%);
            color: $secondarytext;
            input.input-text,
            textarea {
                border-color: darken( $secondary, 15%);
                border-top-color: darken( $secondary, 20%);
            }
            ::-webkit-input-placeholder {
                color: darken( $secondary, 20%);
            }
            :-moz-placeholder {
                color: darken( $secondary, 20%);
            }
            :-ms-input-placeholder {
                color: darken( $secondary, 20%);
            }
            .woocommerce-SavedPaymentMethods {
                list-style: none outside;
                margin: 0;
                .woocommerce-SavedPaymentMethods-token,
                .woocommerce-SavedPaymentMethods-new {
                    margin: 0 0 .5em 0;
                    label {
                        cursor: pointer;
                    }
                }
                .woocommerce-SavedPaymentMethods-tokenInput {
                    vertical-align: middle;
                    margin: -3px 1em 0 0;
                    position: relative;
                }
            }
            .wc-credit-card-form {
                border: 0;
                padding: 0;
                margin: 1em 0 0;
            }
            .wc-credit-card-form-card-number,
            .wc-credit-card-form-card-expiry,
            .wc-credit-card-form-card-cvc {
                font-size: 1.5em;
                padding: 8px;
                background-repeat: no-repeat;
                background-position: right .618em center;
                background-size: 32px 20px;
                &.visa {
                    background-image: url(../images/icons/credit-cards/visa.svg);
                }
                &.mastercard {
                    background-image: url(../images/icons/credit-cards/mastercard.svg);
                }
                &.laser {
                    background-image: url(../images/icons/credit-cards/laser.svg);
                }
                &.dinersclub {
                    background-image: url(../images/icons/credit-cards/diners.svg);
                }
                &.maestro {
                    background-image: url(../images/icons/credit-cards/maestro.svg);
                }
                &.jcb {
                    background-image: url(../images/icons/credit-cards/jcb.svg);
                }
                &.amex {
                    background-image: url(../images/icons/credit-cards/amex.svg);
                }
                &.discover {
                    background-image: url(../images/icons/credit-cards/discover.svg);
                }
            }
            span.help {
                font-size: .857em;
                color: $subtext;
                font-weight: normal;
            }
            .form-row {
                margin: 0 0 1em;
            }
            p:last-child {
                margin-bottom: 0;
            }
            &:before {
                content: "";
                display: block;
                border: 1em solid darken( $secondary, 5%);
                /* arrow size / color */
                border-right-color: transparent;
                border-left-color: transparent;
                border-top-color: transparent;
                position: absolute;
                top: -.75em;
                left: 0;
                margin: -1em 0 0 2em;
            }
        }
        .payment_method_paypal {
            .about_paypal {
                float: right;
                line-height: 52px;
                font-size: 0.83em;
            }
            img {
                max-height: 52px;
                vertical-align: middle;
            }
        }
    }
}


/**
    * Password strength meter
    */

.woocommerce-password-strength {
    text-align: center;
    font-weight: 600;
    padding: 3px .5em;
    font-size: 1em;
    &.strong {
        background-color: #c1e1b9;
        border-color: #83c373;
    }
    &.short {
        background-color: #f1adad;
        border-color: #e35b5b;
    }
    &.bad {
        background-color: #fbc5a9;
        border-color: #f78b53;
    }
    &.good {
        background-color: #ffe399;
        border-color: #ffc733;
    }
}

.woocommerce-password-hint {
    margin: .5em 0 0 0;
    display: block;
}


/* added to get around variation image flicker issue */

.product.has-default-attributes.has-children {
    > .images {
        opacity: 0;
    }
}

body.woocommerce-account {
    .woocommerce {
        padding: 1rem 0;
    }
    .woocommerce-MyAccount-navigation {
        border-right: 1px solid #444;
        ul {
            list-style: none;
            li {
                padding: .5rem 0;
                a {
                    text-decoration: none;
                    color: #444;
                }
            }
        }
    }
}

@include mq($until:tablet) {
    .woocommerce,
    .woocommerce-page {
        table.shop_table_responsive {
            thead {
                display: none;
            }
            tbody {
                tr:first-child {
                    td:first-child {
                        border-top: 0;
                    }
                }
                th {
                    display: none;
                }
            }
            tr {
                display: block;
                td {
                    display: block;
                    text-align: right !important; // Important to overwrite order status inline styling
                    &.order-actions {
                        text-align: left !important;
                    }
                    &:before {
                        content: attr(data-title) ': ';
                        font-weight: 700;
                        float: left;
                    }
                    &.product-remove,
                    &.actions {
                        &:before {
                            display: none;
                        }
                    }
                }
                &:nth-child(2n) {
                    td {
                        background-color: rgba(0, 0, 0, 0.025);
                    }
                }
            }
        }
        table.my_account_orders {
            tr {
                td {
                    &.order-actions {
                        text-align: left;
                        &:before {
                            display: none;
                        }
                        .button {
                            float: none;
                            margin: .125em .25em .125em 0;
                        }
                    }
                }
            }
        }
        .col2-set {
            .col-1,
            .col-2 {
                float: none;
                width: 100%;
            }
        }
        table.cart,
        #content table.cart {
            .product-thumbnail {
                display: none;
            }
            td.actions {
                text-align: left;
                .coupon {
                    float: none;
                    @include clearfix();
                    padding-bottom: .5em;
                    input,
                    .button,
                    .input-text {
                        width: 48%;
                        box-sizing: border-box;
                    }
                    .input-text + .button,
                    .button.alt {
                        float: right;
                    }
                }
                .button {
                    display: block;
                    width: 100%;
                }
            }
        }
        .cart-collaterals {
            .cart_totals,
            .shipping_calculator,
            .cross-sells {
                width: 100%;
                float: none;
                text-align: left;
            }
        }
        /**
     * Checkout
     */
        &.woocommerce-checkout {
            form.login {
                .form-row {
                    width: 100%;
                    float: none;
                }
            }
        }
        #payment {
            .terms {
                text-align: left;
                padding: 0;
            }
            #place_order {
                float: none;
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 1em;
            }
        }
    }
    /**
     * Account
     */
    .lost_reset_password {
        .form-row-first,
        .form-row-last {
            width: 100%;
            float: none;
            margin-right: 0;
        }
    }
    .woocommerce-account {
        .woocommerce-MyAccount-navigation,
        .woocommerce-MyAccount-content {
            float: none;
            width: 100%;
        }
    }
}
