@mixin inline-block($w:auto, $valign:top) {
    display: inline-block;
    width: $w;
    vertical-align: $valign;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.space-between
{
          display: flex;
        justify-content: space-between;
}
