/*
*
*
*/

$c_green:#003333;
$gold:#666600;
$one-col:32.643%;
$two-col:65.357%;
@mixin column($width) {
    flex-basis: $width;
    box-sizing: content-box;
}

@mixin column-s( $width, $side) {
    @include column($width);
    @if $side==left {
        padding-right: 1%;
    }
    @else if $side==right {
        padding-left: 1%;
    }
}


/*
*
*
*/

$woocommerce: #a46497;
$green: #7ad03a;
$red: #a00;
$orange: #ffba00;
$blue: #2ea2cc;
$primary: #a46497; // Primary colour for buttons (alt)
$primarytext: desaturate(lighten($primary, 50%), 18%); // Text on primary colour bg
$secondary: desaturate(lighten($primary, 40%), 21%); // Secondary buttons
$secondarytext: desaturate(darken($secondary, 60%), 21%); // Text on secondary colour bg
$highlight: adjust-hue($primary, 150deg); // Prices, In stock labels, sales flash
$highlightext: desaturate(lighten($highlight, 50%), 18%); // Text on highlight colour bg
$contentbg: #fff; // Content BG - Tabs (active state)
$subtext: #777; // small, breadcrumbs e
.onsale {
    display: none;
}


/*
*
*
*/

.header-firstline {
    font-family: Montserrat;
    font-size: 12px;
    padding: 4px 0;
    &>div {
        display: inline-block
    }
    a {
        color: #000;
        text-decoration: none;
    }
    .lang-sel {
        float: right;
    }
}

.banner {
    display: flex;
    justify-content: space-between;
    .container {
        @include column-s($one-col, left);
    }
}

.brand {
    width: 100%;
    display: inline-block;
    padding: 1.5rem;
    box-sizing: border-box;
}

.logo {
    width: 100%;
}

.header-fullimage {
    max-height: 366px;
    overflow: hidden;
    @include column-s($two-col, right);
    img {
        width: 100%;
        height: auto;
    }
}

.header-nav {
    li {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        border-bottom: 1px solid #003333;
        padding: .5rem 0;
        a {
            text-decoration: none;
            color: $gold;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
        }
        &:hover {
            background-color: #E0E0CC;
            a {
                color: #143D29;
            }
        }
    }
}


/*
*
*
*/

body.home {
    .banner {
        justify-content: flex-end;
    }
}

#pootle-page-builder {
    p {
        margin-bottom: 0;
    }
}

.ppb-row {
    margin-bottom: 1rem;
}

.ppb-block {
    >h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    >h3 {
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }
    p {
        font-family: 'Lato', sans-serif;
    }
}

.ppb-block:not(:last-child) {
    margin-bottom: 1rem;
}

body.home {
    .banner .container {
        flex-basis: 100%;
    }
    .products {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    .product {
        border: 1px solid;
        display: flex;
        img {
            padding: 1rem 1rem 0;
        }
        h3 {
            width: 100%;
            text-align: center;
            background-color: #003333;
            color: #fff;
            margin: 0;
            padding: .5rem 0;
            text-decoration: none;
        }
    }
    .woocommerce-LoopProduct-link {
        display: inline-block;
        text-decoration: none;
    }
}


/*
*
*
*/

.content-info {
    background-color: $gold;
    display: flex;
    padding: 1.5rem 2%;
    color: #fff;
    font-family: Lato;
}

.nav-footer {
    flex-grow: 6;
    display: flex;
    align-items: center;
}

#menu-footer-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    flex-wrap: wrap;
    width: 100%;
    height: 64px;
    .menu-item {
        padding-left: 1.3em;
        display: inline-block;
        line-height: 1;
        &:before {
            content: ">";
            /* FontAwesome Unicode */
            display: inline-block;
            margin-left: -1.3em;
            /* same as padding-left set on li */
            width: 1.3em;
            /* same as padding-left set on li */
            font-size: 13px;
        }
    }
    a {
        font-size: 14px;
        color: #fff;
        text-decoration: none;
    }
}

.contacts-footer {
    flex-grow: 0;
    display: flex;
    font-size: .8rem;
    align-items: center;
    p {
        margin-bottom: 0;
        &:last-child {
            margin-left: 1.5rem;
        }
    }
}

.footer-last-line {
    font-size: 12px;
    padding: 1.5rem 0;
    font-family: Montserrat;
    font-weight: 300;
    overflow: hidden;
    >div {
        float: left;
    }
    >div:last-child {
        float: right;
    }
}


/*
*
*
*/

.product-category {
    display: inline-block;
    width: 100%;
    .row {
        display: flex;
        justify-content: space-between;
    }
    .products {
        display: flex;
        flex-wrap: wrap;
    }
}

.product-category-title-link {
    margin-left: $one-col;
    display: inline-block;
    width: $two-col;
    text-align: center;
    text-decoration: none;
    color: #003333;
}

.product-category-title {
    font-weight: 600;
    font-size: 2.2rem;
}

body.post-type-archive-product {
    .products {
        margin-bottom: 0;
    }
    .product-category {
        >.row {
            display: flex;
            >a {
                @include column-s($one-col, left);
                margin-top: 60px;
            }
        }
    }
    .category-products {
        @include column-s($two-col, right);
        >a {
            text-decoration: none;
            >h3 {
                text-align: center;
                font-family: Montserrat;
                font-size: 36px;
                color: #003333;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
        .products {
            display: flex;
            justify-content: space-between;
        }
        .product {
            flex-basis: 45%;
            .woocommerce-LoopProduct-link {
                display: inline-block;
                text-decoration: none;
                padding: 0;
                margin: 0;
                >h3 {
                    background-color: #003333;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 500;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 18px;
                    padding: .25rem 0;
                    margin: 0;
                }
            }
        }
    }
}


/*
*
*
*/

body.single-product {
    .main {
        display: flex;
        .type-product {
            display: flex;
            flex-wrap: wrap;
            .onsale {
                display: none;
            }
            .summary {
                flex-basis: 50%;
            }
        }
        #container {
            order: 2;
            @include column-s($two-col, right);
        }
        .widget-area {
            order: 1;
            @include column-s($one-col, left);
            .widget {
                >h3 {
                    text-transform: uppercase;
                    color: $gold;
                    font-family: Montserrat;
                    font-size: 18px;
                    text-align: center;
                }
            }
            ul {
                list-style: none;
            }
            ul:not(.product_list_widget) li {
                &:before {
                    content: ">";
                    /* FontAwesome Unicode */
                    display: inline-block;
                    margin-left: -1.3em;
                    /* same as padding-left set on li */
                    width: 1.3em;
                    /* same as padding-left set on li */
                    font-size: 13px;
                }
            }
            .product_list_widget {
                margin-left: 0;
                img {
                    margin: 0 auto;
                    display: block;
                    width: 100%;
                    height: auto;
                    border: 1px solid;
                }
            }
            a {
                text-decoration: none;
                font-family: Lato;
                color: #000;
                display: inline-block;
                width: 100%;
            }
            .product_list_widget {
                del,
                ins {
                    display: none;
                }
                li>a>span {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    background-color: $c_green;
                    color: #fff;
                    font-family: Montserrat;
                    font-size: 18px;
                    text-transform: uppercase;
                    padding: .5rem;
                }
            }
        }
    }
}
