$c_green:#003333;
$gold:#666600;
$woocommerce: $c_green;
$green: $c_green;
$red: $gold;
$orange: $gold;
$blue: $c_green;
$primary: $c_green; // Primary colour for buttons (alt)
$primarytext: #fff; // Text on primary colour bg
$secondary: desaturate(lighten(#666, 40%), 21%); // Secondary buttons
$secondarytext: desaturate(darken($secondary, 60%), 21%); // Text on secondary colour bg
$highlight: adjust-hue(#666, 150deg); // Prices, In stock labels, sales flash
$highlightext: desaturate(lighten($highlight, 50%), 18%); // Text on highlight colour bg
$contentbg: #fff; // Content BG - Tabs (active state)
$subtext: #777; // small, breadcrumbs e
$product-payment-breakp:1175px;
@mixin column($width) {
    flex-basis: $width;
    box-sizing: content-box;
}

@mixin column-s( $width, $side) {
    @include column($width);
    @if $side==left {
        padding-right: 1%;
    }
    @else if $side==right {
        padding-left: 1%;
    }
}

@function strip-unit($number) {
    @if type-of($number)=='number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

@mixin fluid-typo($minw, $maxw, $mins, $maxs) {
    font-size: $mins;
    @media screen and (min-width: $minw) {
        font-size: calc( #{$mins} + (( #{strip-unit($maxs)} - #{strip-unit($mins)}) * ((100vw - #{$minw}) / (#{strip-unit($maxw)} - #{strip-unit($minw)})));
    }
    @media screen and (min-width: $maxw) {
        font-size: $maxs;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

body {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    //word-wrap: break-word;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}

.site-header-line {
    //overflow: hidden;
    background-color: $gold;
    color: #fff;
    padding: 4px 5%;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
        color: #fff;
        text-decoration: none;
    }
    .left, .right {
        margin: .5rem 0;
        >* {
            display: inline-block !important;
            vertical-align: middle;
            &[hidden] {
                display: none !important;
            }
        }
        >script {
            display: none !important;
        }
    }
    .left {
        margin-right: 1.5rem;
    }
    .right {
        display: flex;
        align-items: center;
        .fa-shopping-cart {
            font-size: 14px;
        }
    }
    .wcmenucart-contents, #responsive_menu_pro_button {
        margin-right: 1rem;
    }
    #responsive_menu_pro_button {
        position: static;
    }
    @include mq($from:tablet) {
        #responsive_menu_pro_button {
            display: none !important;
        }
    }
}

.product-search {
    &:before {
        content: "";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        display: inline-block;
        margin-right: 4px;
    }
    >.product-search-form {
        width: 89%;
        display: inline-block;
    }
}

.right .product-search {
    margin-right: 1rem;
    min-width: 150px;
    input.product-search-field[type="text"] {
        width: 100% !important;
    }
    @include mq($until:desktop) {
        min-width: 0px;
        width: 0;
        &:before {
            font-size: 30px;
            vertical-align: top;
            margin-right: 8px;
            cursor: pointer;
        }
        >.product-search-form {
            vertical-align: bottom;
            width: 0;
            input {
                padding: 0;
                border: none;
                font-size: 18px;
                line-height: 1.4;
            }
        }
    }
    &.clicked {
        width: 220px;
        transition: width 1s ease-in-out;
        > .product-search-form {
            width: 80%;
            transition: width 1s ease-in-out;
            input {
                padding-left: 4px;
            }
        }
    }
}

.product-search-results {
    &, a {
        color: $gold;
    }
}

.product-search-results table.search-results tr td, .entry-content .product-search-results table.search-results tr td {
    vertical-align: middle !important;
}

.site-header-line .right > .product-search {
    display: none !important;
}

body.single-product .site-header-line {
    padding-bottom: 10px;
}

.headline {
    text-align: center;
    font-size: 30px;
    color: #003333;
    line-height: 36px;
    letter-spacing: 0px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    margin: 4rem 0 3rem;
    .italics {
        color: #666600;
        font-family: playfair-display, serif;
        font-weight: 400;
        font-style: italic;
    }
}

.site-header-image {
    position: relative;
    overflow: hidden;
    @media(max-width: 420px) {
        display: none;
    }
    .complex-claim {
        position: absolute;
        bottom: 5vw;
        max-width: 56vw;
        left: 5%;
        @media(max-width: 600px) {
            display: none;
        }
        .up {
            margin-bottom: 1.5rem;
            display: block;
            line-height: 1.2;
            @include fluid-typo(800px, 1280px, 20px, 36px);
            color: #FFFFFF;
            font-family: Montserrat, sans-serif;
            font-weight: 700;
            .italics {
                margin-bottom: 1.5rem;
                display: block;
                line-height: 1.2;
                font-size: .925em;
                color: #FFFFFF;
                font-family: playfair-display, serif;
                font-weight: 400;
                font-style: italic;
            }
        }
        .down img {
            width: 23vmin;
        }
    }
}

.site-header-image img {
    max-width: 100%;
    height: auto;
}

.nav-primary {
    font-family: Montserrat;
    background-color: $c_green;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 46px;
    letter-spacing: -1px;
    @include mq($until: tablet) {
        display: none;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 0 6%;
        margin-bottom: 3rem;
        height: 46.2px;
        .menu-item {
            width: 185px;
            text-align: center;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px;
            line-height: 1.2;
            .sub-menu {
                @include mq($from: tablet) {
                    display: none;
                }
            }
        }
        .logo {
            background-color: #fff;
            text-align: center;
            vertical-align: middle;
            position: relative;
            width: 185px;
            flex-shrink: 0;
            >a {
                background-image: url(../images/logo.svg);
                display: inline-block;
                background-color: #fff;
                height: 119px;
                width: 100%;
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                background-size: 152px auto;
                background-position: center;
                border: 1px solid #000;
                border-radius: 10%;
                font-size: 0;
            }
        }
    }
    &, & a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
    }
}

.lansel {
    >* {
        padding: 0 4px;
    }
    >*:not(:last-child) {
        border-right: 1px solid;
    }
    .active {
        font-weight: 700;
    }
}

#responsive_menu_pro {
    max-height: 100vh;
    padding-bottom: 0 !important;
    .responsive_menu_pro_menu li.logo {
        display: none !important;
    }
    &.responsive_menu_pro_admin_bar_showing {
        max-height: calc(100vh - 32px);
    }
}

#responsive_menu_pro {
    .menu-item-type-post_type_archive.menu-item-object-botanic_el>a {
        cursor: default;
    }
}

#responsive_menu_pro>#responsive_menu_pro_menu {
    &>div, &>a {
        box-sizing: content-box;
        padding: 12px 0px 12px 5% !important;
        width: 95% !important;
        display: block !important;
        height: 20px !important;
        line-height: 20px !important;
        overflow: hidden !important;
        white-space: nowrap !important;
        color: #FFFFFF !important;
        border-top: 1px solid #3C3C3C !important;
        text-decoration: none !important;
        white-space: nowrap !important;
    }
}

#responsive_menu_pro_button.responsive_menu_pro_admin_bar_showing {
    margin-top: 0 !important;
}

@media(max-width: 782px) {
    #responsive_menu_pro.responsive_menu_pro_admin_bar_showing {
        max-height: calc(100vh - 46px);
        padding-top: 46px !important;
    }
}

@include mq($until:tablet) {
    .site-header-line {
        .lansel, .wcmenucart-contents, .account-link {
            display: none !important;
        }
    }
}

@include mq($until:tablet) {
    #responsive_menu_pro_menu {
        .lansel, .wcmenucart-contents, .account-link {
            padding: 12px 0px 12px 5% !important;
            width: 95% !important;
            display: block !important;
            height: 20px !important;
            line-height: 20px !important;
            overflow: hidden !important;
            white-space: nowrap !important;
            color: #FFFFFF !important;
            border-top: 1px solid #3C3C3C !important;
            text-decoration: none !important;
            white-space: nowrap !important;
        }
    }
}

.home-cats-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1041px;
    margin: 0 auto 1.5rem;
}

.home-cat {
    position: relative;
    margin: 0 auto 1.5rem;
    border: 1px solid;
    @include mq($from: tablet) {
        flex-basis: 49%;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

.home-cat-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    font-family: Montserrat;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    background-color: #003333;
    opacity: 0.5;
    >p {
        margin: 1rem 0;
    }
    .left-part, .right-part {
        opacity: 1;
    }
    .left-part {
        font-size: 18px;
        text-transform: uppercase;
        vertical-align: bottom;
        margin-bottom: 20px;
        display: inline-block;
    }
    .right-part {
        font-size: 60px;
    }
}

.home-ecl-wrapper {
    display: flex;
    justify-content: space-between;
    @include mq($until: tablet) {
        justify-content: center;
    }
    flex-wrap: wrap;
    max-width: 1040px;
    margin: 0 auto 2rem;
    .ecl-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 100%;
        margin-bottom: 1.5rem;
        @include mq($until: tablet) {
            display: none;
        }
        @include mq($from: tablet) {
            flex-basis: 65%;
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    >a {
        flex-basis: 100%;
        margin-bottom: 1.5rem;
        @include mq($until: tablet) {
            max-width: 508px;
        }
        @include mq($from: tablet) {
            flex-basis: 31.666%;
        }
        text-decoration: none;
        display:flex;
    }
    .eccellenze-home {
        flex-basis: 100%;
        padding: 1rem 0;
        background-color: #003333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #FFFFFF;
        >h3 {
            font-size: 36px;
            text-transform: uppercase;
            line-height: 36px;
            text-align: center;
            padding: 0 7.5%;
            word-wrap: normal;
            hyphens: auto;
            >.italics {
                display: block;
                text-transform: none;
                line-height: 42px;
                font-size: 48px;
                font-style: italic;
                font-family: "Playfair Display", serif;
                font-weight: 700;
                padding: 0 7.5%;
            }
        }
        ul {
            margin-bottom: 0;
        }
        li {
            line-height: 19px;
            font-size: 16px;
            padding: 0 15%;
            margin: 0 0 .75rem;
            //word-break: break-all;
        }
        .fa.fa-check {
            margin-right: 8px;
        }
    }
}

.content-info {
    background-color: $gold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem 2% 0;
    color: #fff;
    font-family: Lato;
    //max-width: 1000px;
    margin: 0 auto;
    padding: 1.5rem 1rem 0;
    >div {
        display: flex;
        flex-grow: 2;
        justify-content: center;
        flex-basis: 50%;
        @media(max-width: 749.99px) {
            flex-basis: auto;
            flex-wrap: wrap;
        }
    }
}

.nav-footer {
    display: flex;
    justify-content: center;
    //min-width: 500px;
    flex-grow: 2;
    flex-basis: 50%;
    @media(max-width: 749.99px) {
        flex-basis: auto;
        flex-wrap: wrap;
    }
}

#menu-footer-menu, #menu-footer-menu-inglese {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    flex-wrap: wrap;
    width: 100%;
    @media(min-width: 750px) {
        height: 92px;
    }
    align-content: center;
    margin-left: 0;
    padding: 0 1rem;
    .menu-item {
        padding-left: 1.3em;
        display: inline-block;
        line-height: 1.3;
        margin-right: 1rem;
        &:before {
            content: ">";
            /* FontAwesome Unicode */
            display: inline-block;
            margin-left: -1.3em;
            /* same as padding-left set on li */
            width: 1.3em;
            /* same as padding-left set on li */
            font-size: 13px;
        }
    }
    a {
        font-size: 14px;
        color: #fff;
        text-decoration: none;
    }
}

.menu-footer-menu-container {
    width: 100%;
}

.contacts-footer {
    padding: 0 1rem;
    //flex-grow: 2;
    justify-content: space-around;
    //display: flex;
    font-size: .8rem;
    //align-items: center;
    display: flex;
    p {
        vertical-align: top;
        display: inline-block;
        line-height: 1.42;
        margin-bottom: 0;
        &:first-child {
            margin-right: 1.5rem;
            span {
                max-width: 30px;
                display: inline-block;
                &.fb {
                    margin-right: 8px;
                }
                margin-top: 4px;
            }
        }
        &:last-child {
            margin-right: 1rem;
            flex-shrink: 0;
            img {
                width: auto;
                height: 96px;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}

.contact-social {
    width: 120px;
    .social.container {
        text-align: center;
        p:last-child {
            display: flex;
            justify-content: space-around;
        }
    }
}

.nav-footer, .contacts-footer {
    margin-bottom: 1rem;
}

.footer-last-line {
    font-size: 12px;
    padding: 1.5rem 0;
    font-family: Montserrat;
    font-weight: 300;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
    >div {
        float: left;
    }
    >div:last-child {
        float: right;
    }
}

.social.container {
    img {
        width: 32px;
        height: 32px;
    }
}

@media(max-width: 400px) {
    .nav-footer {
        flex-wrap: wrap;
        min-width: auto;
    }
    #menu-footer-menu {
        height: auto;
    }
    .contacts-footer {
        flex-wrap: wrap;
        >p {
            &:first-child, &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-bottom: 1rem;
            }
        }
    }
}

.woocommerce-breadcrumb {
    margin-top: -2.5rem;
    margin-bottom: 2.5rem;
    padding-left: 20px !important;
    a {
        text-decoration: none;
        color: $c_green;
        font-weight: 700;
    }
}

.onsale {
    display: none;
}

body.single-product {
    #content >.product {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .images, .summary, .product-info, .product-payment {
            width: 45%;
            flex-grow: 2;
            margin: 0 1.5% 1.5rem;
            @include mq($until: tablet) {
                width: 100%;
            }
        }
        .images img {
            margin: 0 auto;
            display: block;
            border: 5px solid rgba(102, 102, 0, 0.3);
            width: 580px;
            height: auto;
            max-width: 100%;
        }
        .product_title {
            color: $gold;
            font-size: 30px;
            line-height: 36px;
            letter-spacing: -1px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 400;
        }
        .summary .product_title {
            @include mq($until: tablet) {
                display: none;
            }
        }
        .description {
            line-height: 27px;
            font-size: 18px;
        }
        .product_meta {
            span {
                line-height: 27px;
                color: #003333;
                font-size: 19px;
                font-weight: 700;
                display: block;
                text-align: center;
                margin: 0 auto 1rem;
                >a {
                    color: $gold;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
        .product-info {
            padding: 1.5rem;
            background-color: $c_green;
            font-size: 17px;
            line-height: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &, & a {
                color: #fff;
                text-decoration: none;
                font-weight: 700;
            }
            h5 {
                margin-bottom: 0;
                text-transform: uppercase;
            }
            .ingredients a:not(:first-child) {
                margin-left: .5rem;
            }
        }
        .product-payment {
            background-color: $gold;
            padding: 1.5rem;
            /*@include mq($until: $product-payment-breakp) {
                text-align: center;
            }
            */
        }
        .product-disponibility {
            margin-bottom: 1.5rem;
            &:before {
                content: '';
                display: inline-block;
                background-image: url(../images/shopping-bag.svg);
                width: 86px;
                height: 86px;
                float: left;
                margin-bottom: 1.5rem;
                @media(max-width: 540px) {
                    display: none;
                }
            }
        }
        .cart {
            overflow: hidden;
            margin-bottom: 1.5rem;
            text-align: center;
        }
        .quantity {
            margin-right: .75rem;
            background: #fff;
            display: inline-block;
            padding: .5rem;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            border: 1px solid $c_green;
            vertical-align: top;
            margin-bottom: 1rem;
        }
        .qty {
            inline-size: 58px;
            overflow: 58px;
            text-align: right;
            border: none;
            &[type='number'] {
                -moz-appearance: textfield;
            }
            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
        .cart-quantity-wrapper {
            overflow: hidden;
            margin-bottom: 1rem;
            text-align: center;
        }
        .product-info-wrapper {
            text-align: center;
            color: #fff;
            font-size: 18px;
        }
        .offers {
            line-height: 36px;
            font-size: 30px;
            text-align: right;
            font-weight: 700;
            display: inline-block;
            vertical-align: top;
            .price {
                margin-bottom: 0;
            }
        }
        .single_add_to_cart_button {
            width: 65%;
            background-color: #fff;
            color: #003333;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -1px;
            text-transform: uppercase;
            text-align: center;
            font-family: montserrat, sans-serif;
            font-weight: 400;
            padding: .5rem;
            border: 1px solid;
            margin-bottom: 1rem;
            cursor: pointer;
            box-sizing: content-box;
        }
        .product-disponibility {
            color: #fff;
            p {
                font-size: 17px;
                margin-bottom: .5rem;
                &:first-child {
                    padding-top: 18px;
                }
            }
            //margin-left: 86px;
        }
        .product-shipping {
            overflow: hidden;
            line-height: 59px;
            color: #fff;
            //letter-spacing: -1px;
            display: table;
            width: 100%;
            &:before {
                content: '';
                display: inline-block;
                background-image: url(../images/delivery-truck.svg);
                width: 59px;
                height: 59px;
                float: left;
                margin: 0 14px;
                @media(max-width: 540px) {
                    display: none;
                }
            }
            >p {
                display: table-cell;
                vertical-align: middle;
                line-height: 17px;
                font-size: 16px;
                width: 100%;
            }
        }
        .product-ingredients-list {
            list-style: none;
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 3rem;
            margin-left: 0;
            flex-wrap: wrap;
            .product-ingredient {
                margin: 0 2.5%;
                //max-width: 50%;
                overflow: hidden;
                >a {
                    text-decoration: none;
                    width: 220px;
                    display: inline-block;
                }
                img {
                    width: 220px;
                    border-radius: 50%;
                    margin: 0 auto 1rem;
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
                .ingredient-title {
                    color: $gold;
                    font-size: 17px;
                    line-height: 24px;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 700;
                    hyphens: auto;
                }
            }
        }
        .related.products {
            width: 100%;
            >h2 {
                text-align: center;
                font-size: 30px;
                color: #003333;
                letter-spacing: -1px;
                line-height: 36px;
                font-weight: 400;
                text-transform: uppercase;
            }
            >.products {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                >.product {
                    flex-basis: 23%;
                    flex-grow: 2;
                    overflow: hidden;
                    padding: 0 1%;
                    text-align: center;
                    position: relative;
                    flex-shrink: 0;
                    margin-bottom: 1rem;
                    min-width: 50%;
                    @media(min-width: 548px) {
                        min-width: 250px;
                    }
                    text-align: center;
                    @include mq($until:tablet) {
                        flex-basis: 100%;
                        width: 100%;
                    }
                    h3 {
                        text-transform: uppercase;
                        color: #FFFFFF;
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 400;
                        background-color: $c_green;
                        padding: 5px 8px;
                        margin-bottom: 0;
                        max-width: 300px;
                    }
                    a {
                        text-decoration: none;
                    }
                    >.woocommerce-LoopProduct-link {
                        display: inline-block;
                        >img {
                            border: 5px solid rgba(102, 102, 0, 0.3);
                            border-bottom: 0;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    >a.button {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #fff;
                        color: $gold;
                        padding: 4px;
                        font-size: 18px;
                        font-weight: 700;
                        opacity: 0;
                    }
                    &:hover >a.button {
                        opacity: 1;
                    }
                }
            }
        }
        .social-container {
            text-align: center;
        }
    }
}

.chi-siamo-title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: $c_green;
    font-weight: 400;
    margin: 4rem 0;
    span {
        color: $gold;
        font-family: Playfair Display, serif;
        font-weight: 400;
        font-style: italic;
        @include mq($until: desktop) {
            display: block;
        }
    }
}

.page-template-chi-siamo {
    .main .row {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        @include mq($until: desktop) {
            flex-wrap: wrap;
        }
        >* {
            flex-basis: 33%;
            @include mq($until: desktop) {
                flex-basis: 100%;
            }
        }
        &.two {
            >.text {
                flex-basis: 67%;
                display: inline-block;
                width: calc(100% - 450px);
                @include mq($until: desktop) {
                    flex-basis: 100%;
                    width: 100%;
                }
            }
            &:nth-of-type(2) {
                justify-content: center;
                >* {
                    flex-basis: auto;
                }
            }
        }
    }
    img {
        display: inline-block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .play {
        position: absolute;
        width: 64px;
        height: 64px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .video {
        position: relative;
        @include mq($until: desktop) {
            display: none;
        }
    }
    .images {
        width: 450px !important;
        //height: 150px;
        display: inline-block;
        text-align: center;
        flex-basis: 100% !important;
        .open-popup-link {
            display: inline-block;
        }
    }
    .text {
        font-size: 16px;
        line-height: 1.5;
        padding: 0 2%;
        p {
            margin-bottom: 0;
        }
    }
    .complex-title {
        background-color: $gold;
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 4%;
        font-size: 36px;
        line-height: 1.2;
        &.green {
            background-color: #003333;
        }
        &.grey {
            background-color: #7F7F7F;
        }
        >span {
            font-size: 36px;
            text-transform: uppercase;
            line-height: 1.2;
            font-family: Montserrat;
            &.italics {
                text-transform: none;
                line-height: 1.2;
                font-size: 60px;
                color: #FFFFFF;
                font-family: playfair-display, serif;
                font-weight: 400;
                font-style: italic;
                &.right {
                    text-align: right;
                }
                &.left {
                    text-align: left;
                }
            }
        }
    }
    .row-images {
        margin-bottom: 0;
    }
    .cert-text {
        flex-basis: 100% !important;
        max-width: 900px;
        margin: 0 auto;
        font-size: 18px;
    }
    @include mq($until: desktop) {
        .botanic-el-list {
            display: flex;
        }
        .row {
            >* {
                order: 2
            }
            .complex-title {
                margin-bottom: 1.5rem;
                order: 1;
            }
        }
    }
}

.chi-siamo-wrapper {
    font-size: 16px;
    line-height: 22px;
    .chi-siamo-content, .chi-siamo-footer {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;
    }
    .chi-siamo-content {
        margin-bottom: 3rem;
    }
    .col-text .text {
        @include mq($from: tablet) {
            padding: 0 13%;
        }
        @include mq($until: tablet) {
            margin-bottom: 1.5rem;
        }
    }
    .col-text {
        display: flex;
        align-items: center;
    }
    .col-rest {
        display: flex;
        flex-wrap: wrap;
        >.image, .text {
            flex-basis: 50%;
            @include mq($until: tablet) {
                flex-basis: 1000%;
            }
            flex-grow: 2;
            margin-bottom: 1.5rem;
        }
        >.video {
            flex-basis: 100%;
            flex-grow: 2;
        }
        >.text {
            background-color: $gold;
            text-align: center;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem 9%;
            >span {
                font-size: 36px;
                text-transform: uppercase;
                line-height: 43px;
                font-family: Montserrat;
                &.italics {
                    text-transform: none;
                    line-height: 72px;
                    font-size: 60px;
                    color: #FFFFFF;
                    font-family: playfair-display, serif;
                    font-weight: 400;
                    font-style: italic;
                    &.right {
                        text-align: right;
                    }
                    &.left {
                        text-align: left;
                    }
                }
            }
        }
    }
    .one {
        flex-basis: 33%;
        width: 33%;
        @include mq($until: tablet) {
            flex-basis: 1000%;
        }
    }
    .two {
        flex-basis: 66%;
        width: 66%;
        @include mq($until: tablet) {
            flex-basis: 1000%;
        }
    }
    .text {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
    .chi-siamo-intro {
        @include mq($from: tablet) {
            padding-left: 4.5%;
            padding-right: 4.5%;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    .chi-siamo-footer {
        >* {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .chi-siamo-footer h3 {
        text-align: center;
        span {
            display: block;
        }
        &>span:first-child {
            color: $gold;
        }
    }
}

.botanic-el-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    list-style: none;
    @include mq($until: desktop) {
        display: none;
    }
}

.botanic-element {
    //flex-basis: 16.666%;
    padding: 0 1.333%;
    overflow: hidden;
    //flex-grow: 2;
    margin-bottom: 1.5rem;
    max-width: 205px;
    @include mq($until: tablet) {
        max-width: none;
        flex-basis: 50%;
        display: inline-block;
    }
    @media(max-width: 400px) {
        flex-basis: 100%;
    }
}

.botanic-el-img {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
    img {
        max-width: 100%;
        height: auto;
    }
    @include mq($until: tablet) {
        display: none;
    }
}

.botanic-el-link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.botanic-el-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    color: #666600;
    line-height: 20px;
    font-weight: 700;
    @include mq($until: tablet) {
        display: inline-block;
        width: calc(100% - 84px - 1rem);
        vertical-align: middle;
    }
}

.botanic-el-content {
    display: flex;
    flex-wrap: wrap;
    @include mq($from: desktop) {
        border-top: 3px solid #000;
    }
    border-bottom: 3px solid #000;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    >* {
        width: 31.333%;
        padding: 0 1%;
        flex-grow: 2;
        min-width: 220px;
    }
}

.botanic-el-content-title h1 {
    font-size: 36px;
    line-height: 43px;
    color: $gold;
    text-transform: uppercase;
    text-align: center;
    padding: 0 3%;
}

.botanic-el-content-description {
    line-height: 22px;
    font-size: 16px;
    padding: 0 3%;
}

.botanic-el-content-img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.botanic-element-section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 31px;
    color: #666600;
    font-family: montserrat, sans-serif;
}

.botanic-product-wrapper {
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.botanic-product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.botanic-product {
    flex-basis: 30%;
    padding: 0 1.5%;
    text-align: center;
    overflow: hidden;
    text-align: center;
    position: relative;
    min-width: 250px;
    margin-bottom: 1rem;
    .botanic-product-title {
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        background-color: $c_green;
        padding: 5px 8px;
        margin-bottom: 0;
        //height: 54px;
    }
    a {
        text-decoration: none;
    }
    img {
        border: 1px solid $c_green;
        border-bottom-width: 0px;
        max-width: 100%;
        height: auto;
        width: 100%;
    }
}


/*
*
*
*/

.product-category {
    display: inline-block;
    width: 100%;
    .row {
        display: flex;
        justify-content: space-between;
    }
    .products {
        display: flex;
        flex-wrap: wrap;
    }
}

.product-category-title-link {
    margin-left: 33%;
    display: inline-block;
    width: 66%;
    text-align: center;
    text-decoration: none;
    color: #003333;
}

.product-category-title {
    font-weight: 600;
    font-size: 2.2rem;
}

body.post-type-archive-product, body.tax-product_cat {
    .price {
        display: none;
    }
    .row {
        //display: inline-flex;
        //justify-content: space-between;
        //width: 100%;
    }
    .products {
        //display: inline-flex;
        //flex-wrap: wrap;
        width: 100%;
    }
    .products {
        margin-bottom: 0;
        @include mq($until: tablet) {
            margin-left: 0;
        }
        >.row {
            //display: flex;
            width: 100%;
            margin-bottom: 1.5rem;
            >a {
                //@include column-s(33%, left);
                //margin-top: 60px;
                text-align: center;
                text-decoration: none;
                >h3 {
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 36px;
                    color: #003333;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }
    }
    .category-products {
        //@include column-s(66%, right);
        >a {
            text-decoration: none;
            float: left;
            width: 32.5%;
            margin-right: .75%;
            @include mq($until: tablet) {
                float: none;
                max-width: 300px;
            }
            >img {
                width: 100%;
                height: auto;
            }
            @include mq($until: tablet) {
                float: none;
                >img {
                    display: block;
                    margin: 0 auto 1rem;
                    max-width: 300px;
                }
            }
        }
        .products {
            //display: flex;
            //justify-content: space-between;
            display: inline;
            font-size: 0;
            @include mq($until: tablet) {
                margin-left: 0;
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
            }
            justify-content: center;
        }
        .product {
            //flex-basis: 45%;
            @include mq($from: tablet) {
                width: 23.5%;
                margin: 0 .75%;
                display: inline-block;
                vertical-align: top;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            .woocommerce-LoopProduct-link {
                display: inline-block;
                text-decoration: none;
                padding: 0;
                margin: 0;
                width: 100%;
                >h3 {
                    background-color: #003333;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 500;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 16px;
                    padding: .5rem .25rem;
                    margin: 0;
                    box-sizing: content-box;
                }
                >img {
                    max-width: 100%;
                    height: auto;
                    border: 5px solid rgba(102, 102, 0, 0.3);
                    border-bottom: 0;
                }
            }
            @include mq($from: tablet) {
                &:nth-child(-n+4) {
                    /*height: 0;
                    padding-bottom: 32.666%;
                    position: relative;
                    margin-top: 0;
                    >.woocommerce-LoopProduct-link {
                        position: absolute;
                        top: 50%;
                        transform: translateY( -50%);
                    }*/
                }
            }
            @include mq($until: tablet) {
                //flex-basis: 158px;
                margin: 0 1.5% 1rem;
                .woocommerce-LoopProduct-link {
                    >h3 {
                        //display: none;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


/*
body.tax-product_cat {
    .page-title {
        text-align: center;
        color: $c_green;
    }
    .products {
        display: flex;
        flex-wrap: wrap;
        >.product {
            padding: 0 2.5%;
            flex-basis: 25%;
            >.woocommerce-LoopProduct-link {
                display: inline-block;
                text-align: center;
                text-decoration: none;
                color: $gold;
                >img {
                    display: block;
                    margin: 0 auto 1rem;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}
*/

body.page-template-contact-form {
    .map h3, .contact h3 {
        text-transform: uppercase;
        text-align: center;
        margin: 4.5rem 0 2rem;
        font-weight: 500;
    }
    .main .container {
        background-color: #EFEFE5;
        padding: 2rem 2%;
        margin-bottom: 3rem;
    }
    .servizio-clienti-wrapper {
        background-color: #003333;
        color: #fff;
        display: inline-block;
        padding: 2rem;
        font-family: Montserrat;
        font-size: 18px;
        line-height: 1.2;
        height: 240px;
        flex-shrink: 0;
    }
    .main .container > *:not(:last-child) {
        margin-right: 2%;
    }
    .servizio-clienti-wrapper .italics {
        font-family: Playfair Display, serif;
        font-style: italic;
        font-size: 32px;
        max-width: 60%;
        text-align: center;
        display: block;
        margin: 0 auto 1.5rem;
    }
    .servizio-clienti-wrapper p {
        margin: 0;
    }
    .servizio-clienti-wrapper p:last-child {
        font-size: 35px;
    }
    .contacts {
        font-size: 1rem;
        line-height: 1.2;
        min-width: 22%;
        display: flex;
        align-items: center;
        max-height: 240px;
    }
    .map h3, .contact {
        max-width: 1000px;
        margin: 0 auto;
    }
    .contacts span, .contacts strong {
        display: block;
    }
    .contact-form {
        flex-grow: 2;
    }
    .map {
        margin: 3rem auto;
    }
    .map h3 {
        margin-bottom: 1.5rem;
    }
    .main .container {
        display: flex;
        @include mq($until: desktop) {
            flex-wrap: wrap;
            justify-content: center;
            >* {
                margin-bottom: 1rem;
            }
        }
    }
    .gform_wrapper {
        margin: 0
    }
    .gfield:first-child {
        margin-top: 0;
    }
    .gform_wrapper textarea {
        height: 104px !important;
    }
    .ginput_container > * {
        border-width: 1px;
        border-style: solid;
        border-color: #C4C4C4;
        background-color: #F2F2F2;
    }
    .gfield_label, .gform_button {
        color: #6B6B6B;
    }
    .gform_wrapper ul li.gfield:first-child {
        margin-top: 0;
    }
    .gform_button {
        background-color: #fff;
        border: 1px solid #000;
        padding: 8px 3rem;
        text-transform: uppercase;
    }
}

#responsive_menu_pro .responsive_menu_title_image {
    display: block !important;
    margin: 0 auto !important;
}

.logo-mobile {
    border-bottom: 1px solid #004136;
    margin-bottom: 1rem;
    .logo {
        background-color: #fff;
        text-align: center;
        vertical-align: middle;
        //width: 185px;
        display: block;
        margin: 0 auto;
        >a {
            background-image: url(../images/logo.svg);
            display: inline-block;
            background-color: #fff;
            height: 144px;
            width: 100%;
            background-repeat: no-repeat;
            //position: absolute;
            //left: 0;
            //top: 0;
            //top: 50%;
            //transform: translate(0, -50%);
            background-size: 260px auto;
            background-position: center;
            //border: 1px solid #000;
            //border-radius: 10%;
            font-size: 0;
        }
    }
    @media(min-width: 766px) {
        display: none;
    }
}

.contacts-complex-claim {
    position: absolute;
    right: 5%;
    top: 21%;
    top: 0;
    overflow: hidden;
    text-align: right;
    max-width: 48%;
    height: 0;
    padding-bottom: 39%;
    width: 546px;
    p {
        font-size: 60px;
        line-height: 0.9;
        color: #003333;
        position: absolute;
        bottom: 231px;
        right: 0;
        @media(max-width: 1095px) {
            top: 50%;
            transform: translateY(-50%);
            bottom: auto;
        }
        @media(max-width: 655px) {
            display: none;
        }
    }
    span {
        display: block;
        font-family: Playfair Display;
        &:first-child {
            font-family: Montserrat;
            text-transform: uppercase;
        }
        &:last-child {
            text-align: right;
        }
    }
    img {
        float: right;
        width: 62.666%;
        bottom: 0;
        position: absolute;
        right: 0;
        @media(max-width: 1095px) {
            display: none;
        }
    }
}

iframe {
    max-width: 100%;
}

ul {
    list-style: none;
    margin-left: 0;
}

.mobile-title {
    @include mq($from: tablet) {
        display: none;
    }
}

body {
    .woocommerce-message, .woocommerce-info {
        border-top: none;
        margin-bottom: .75rem !important;
        background-color: #666600;
        color: #fff;
        &:nth-last-child(2) {
            margin-bottom: 2rem !important;
        }
        a {
            color: #fff;
        }
    }
    .woocommerce-message {}
    .woocommerce-info {
        &:before {
            color: #8fae1b;
        }
    }
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 2rem 20px;
    width: auto;
    max-width: 1000px;
    margin: 20px auto;
}

.woocommerce-info.wc-registration-info {
    position: relative;
    font-size: 18px;
    background-color: #ee7452;
    margin-bottom: 2rem !important;
    padding: 1.75em 1.75em 1.75em 7.5em !important;
    &:before {
        content: '';
        background-image: url(../images/icona_carrello.svg);
        width: 100px;
        height: 100px;
        background-size: cover;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}

.woocommerce form .form-row.create-account {
    position: relative;
    font-size: 18px;
    background-color: #96c271;
    margin-bottom: 2rem !important;
    padding: 1.35em 1.75em 1.35em 7.5em!important;
    color: #fff;
    &:before {
        content: '';
        background-image: url(../images/icona_regalo.svg);
        width: 100px;
        height: 100px;
        background-size: cover;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}

.checkout-create-account {
    margin-top: 2rem;
    .create-account {
        margin-bottom: 1.5rem;
    }
}

.woocommerce a.added_to_cart {
    color: #000 !important;
}

.order-review-wrapper {
    background-color: #f9f1e8;
    position: relative;
    padding-top: 4rem;
    margin-top: 4rem;
    >img {
        width: 100px;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #order_review_heading {
        text-align: center;
    }
    .woocommerce-checkout-review-order-table {
        background-color: #fff;
    }
}

.gform_body {
    max-width: 100%;
}

#calc_shipping_postcode {
    display: none;
}

.woocommerce-page table.cart td.actions {
    #coupon_code {
        width: 185px;
    }
}

.woocommerce form.checkout_coupon {
    overflow: hidden;
    >p {
        margin: 0;
    }
    #coupon_code {
        font-size: 18px;
        padding: 5px 3px;
    }
}
.woocommerce-cart .related.products {
            width: 100%;
            margin-top:1rem;
            >h2 {
                text-align: center;
                font-size: 30px;
                color: #003333;
                letter-spacing: -1px;
                line-height: 36px;
                font-weight: 400;
                text-transform: uppercase;
            }
            >.products {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                >.product {
                    flex-basis: 23%;
                    flex-grow: 2;
                    overflow: hidden;
                    padding: 0 1%;
                    text-align: center;
                    position: relative;
                    flex-shrink: 0;
                    margin-bottom: 1rem;
                    min-width: 50%;
                    @media(min-width: 548px) {
                        min-width: 250px;
                    }
                    text-align: center;
                    @include mq($until:tablet) {
                        flex-basis: 100%;
                        width: 100%;
                    }
                    h3 {
                        text-transform: uppercase;
                        color: #FFFFFF;
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 400;
                        background-color: $c_green;
                        padding: 5px 8px;
                        margin-bottom: 0;
                        max-width: 300px;
                    }
                    a {
                        text-decoration: none;
                    }
                    >.woocommerce-LoopProduct-link {
                        display: inline-block;
                        >img {
                            border: 5px solid rgba(102, 102, 0, 0.3);
                            border-bottom: 0;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                    >a.button {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #fff;
                        color: $gold;
                        padding: 4px;
                        font-size: 18px;
                        font-weight: 700;
                        opacity: 0;
                    }
                    &:hover >a.button {
                        opacity: 1;
                    }
                }
            }
        }
