// This file controls all base color styles for our theme. All colors should be
// defined in _colors.scss. This allows us to at a glance determine global color
// styles of our theme and prevents arbitrary color assignment.
// Do not use the base theme colors in the scss partial files! Set up your theme's
// base colors and then use scoped color values in your Sass partials.
// Theme Colors (private vars)
//------------------------------------------------------------------------------
$off-black: #1c1e1f;
$dark-gray: #474e57;
$medium-gray: #5d646b;
$light-gray: #a4a5a5;
$fog: #ccc;
$medium-fog: #e0e0e0;
$light-fog: #f3f3f4;
$white: #fff;
$light-blue: #69c0fc;
$medium-blue: #1079c2;
$dark-blue: #00376c;
// Global Base Colors
//------------------------------------------------------------------------------
$base-bg-color: $white;
$base-font-color: $dark-gray;
$base-border-color: $medium-fog;
$base-accent-color: $light-gray;
$base-heading-color: $off-black;
$base-heading-color-hover: $medium-blue;
$base-blockquote-color: $medium-gray;
$base-link-color: $medium-blue;
$base-link-color-hover: lighten( $base-link-color, 10);
$base-alt-link-color: $medium-gray;
$base-alt-link-color-hover: $base-link-color;
$base-selection-bg-color: $off-black;
$base-selection-color: $white;
$base-insert-color: lighten( $light-blue, 45);
// Button Colors
//------------------------------------------------------------------------------
$base-button-bg-color: $off-black;
$base-button-bg-color-hover: lighten( $base-button-bg-color, 10);
$base-button-font-color: $white;
$base-button-font-color-hover: $white;
$cta-button-bg-color: $light-blue;
$cta-button-bg-color-hover: lighten( $cta-button-bg-color, 10);
$cta-button-font-color: $white;
$cta-button-font-color-hover: $white;
// Form Colors
//------------------------------------------------------------------------------
$input-bg-color: $light-fog;
$form-font-color: $base-font-color;
$form-border-color: $base-border-color;
$form-border-color-hover: darken( $base-border-color, 5);
$form-border-color-focus: darken( $base-border-color, 20);
$form-placeholder-color: darken( $base-border-color, 10);
// Navigation Colors
//------------------------------------------------------------------------------
$nav-link-color: $dark-gray;
$nav-link-color-hover: $base-link-color;
$subnav-bg-color: $dark-gray;
$subnav-bg-color-hover: $medium-gray;
$subnav-link-color: $light-fog;
$subnav-link-color-hover: $white;
// Mobile Menu Colors
//------------------------------------------------------------------------------
$menu-toggle-bg-color: transparent;
$menu-toggle-bg-color-hover: transparent;
$menu-toggle-link-color: $off-black;
$menu-toggle-color-hover: $light-gray;
$menu-mobile-bg-color: lighten( $off-black, 3);
$menu-mobile-color: lighten( $nav-link-color, 30);
$menu-mobile-color-hover: $base-link-color;
$menu-mobile-subnav-color: lighten( $nav-link-color, 15);
// Entry Colors
//------------------------------------------------------------------------------
$blockquote-border-color: $light-fog;
$code-bg-color: $light-fog;
$code-font-color: $off-black;
$entry-meta-font-color: $medium-gray;
$pre-bg-color: $light-fog;
$corner-ribbon-bg-color: $base-link-color;
$corner-ribbon-font-color: $white;
$gallery-caption-bg-color: $off-black;
$gallery-caption-font-color: $white;
// SiteCare Colors
//------------------------------------------------------------------------------
$intro-paragraph-border-color: $light-fog;
// Comment Section Colors
//------------------------------------------------------------------------------
$comments-font-color: $base-font-color;
$comment-header-bg-color: $light-fog;
$comment-author-header-bg-color: lighten( $light-blue, 50);
$comment-table-bg-color: $white;
$comment-reply-link-bg-color: $light-fog;
$comment-reply-link-bg-color-hover: $white;
$allowed-tags-bg-color: $light-fog;
// Pagination Colors
//------------------------------------------------------------------------------
$pagination-bg-color: $white;
$pagination-bg-color-hover: $light-fog;
$pagination-current-bg-color: darken( $light-fog, 4);
$pagination-link-color: $base-font-color;
// Overall Content Max Width
//------------------------------------------------------------------------------
$max-width: 1140px;
// Global Screen Sizes
//------------------------------------------------------------------------------
$smallest-screen: 320px;
$smaller-screen: 480px;
$small-screen: 810px;
$medium-screen: 1023px;
$large-screen: 1200px;
// Global Max Width Settings
//------------------------------------------------------------------------------
$base-wrap-max-width: 768px;
$wrap-max-width-medium: 960px;
$wrap-max-width-large: $max-width;
// Global Spacing
//------------------------------------------------------------------------------
$base-vertical-spacing: 0.5em;
$base-margin: 30px;
$base-padding: 40px;
$base-padding-small: 20px;
// Layout Spacing
//------------------------------------------------------------------------------
$site-inner-padding: 30px;
// Content Spacing
//------------------------------------------------------------------------------
$content-margin: 26px;
$content-margin-small: 16px;
// Comment Spacing
//------------------------------------------------------------------------------
$comment-padding: 20px 20px 0;
// Navigation Spacing
//------------------------------------------------------------------------------
$menu-mobile-item-padding: 20px;
// Form Spacing
//------------------------------------------------------------------------------
$form-input-padding: 10px;
// Global Border Radius
//------------------------------------------------------------------------------
$base-border-radius: 3px;
$form-border-radius: $base-border-radius;
// Global Shadows
//------------------------------------------------------------------------------
$form-box-shadow: inset 0 1px 3px rgba( 0, 0, 0, 0.06);
$form-box-shadow-focus: $form-box-shadow,
0 0 5px rgba( darken( $form-border-color-focus, 5), 0.7);
$responsive-menu-transition: 0.4s ease-in-out;
// This file controls all base font styles for our theme. All font styles should
// be defined in _typography.scss. This allows us to at a glance determine global
// font styles of our theme and prevents arbitrary font style assignment.
// Do not use the base theme font styles in the scss partial files! Set up your
// theme's base font styles and then use scoped font values in your Sass partials.
// Global Font Families
//------------------------------------------------------------------------------
$sans-serif: Lato,
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$sans-serif-alt: Raleway,
'Helvetica Neue',
Helvetica,
Arial,
sans-serif;
$serif: Georgia,
Times,
'Times New Roman',
serif;
$monospace: Consolas,
Monaco,
'Andale Mono',
'DejaVu Sans Mono',
monospace;
// Global Font Families
//------------------------------------------------------------------------------
$base-font-family: $sans-serif;
$form-font-family: $sans-serif;
$heading-font-family: $sans-serif-alt;
$blockquote-font-family: $serif;
// Global Line Height
//------------------------------------------------------------------------------
$base-line-height: 1.625;
$heading-line-height: 1.25;
// Global Font Sizes
//------------------------------------------------------------------------------
$base-font-size: 16px;
$button-font-size: $base-font-size;
$form-font-size: $base-font-size;
;
$medium-font-size: 14px;
$small-font-size: 12px;
// Heading Font Properties
//------------------------------------------------------------------------------
$h1-font-size: 40px;
$h2-font-size: 32px;
$h3-font-size: 28px;
$h4-font-size: 18px;
$h5-font-size: $base-font-size;
$h6-font-size: $base-font-size;
$h1-font-size-small: 32px;
$h2-font-size-small: 26px;
$h3-font-size-small: 22px;
// Header Font Properties
//------------------------------------------------------------------------------
$header-font-family: $heading-font-family;
$site-title-font-size: $h2-font-size;
$site-description-font-size: $base-font-size;
// Menu Font Properties
//------------------------------------------------------------------------------
$nav-font-size: $base-font-size;
$subnav-font-size: $medium-font-size;
$pagination-font-size: $base-font-size;
$menu-toggle-font-size: 40px;
// Entry Font Properties
//------------------------------------------------------------------------------
$gallery-caption-font-size: $small-font-size;
$wp-caption-font-size: $small-font-size;
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600;
$z-index-7: 700;
$z-index-8: 800;
$z-index-9: 900;
$z-index-10: 1000;
// Base Theme Z-Index Values
// --------------------------------------------------
$screen-reader-z-index: $z-index-1;
$sub-menu-z-index: $z-index-1;
$menu-mobile-z-index: $z-index-10;
// WooCommerce Color Variables
//------------------------------------------------------------------------------
$woocommerce: #a46497;
$woocommerce-white: $white;
$woocommerce-light-fog: $light-fog;
$woocommerce-fog: $fog;
$woocommerce-dark-gray: $dark-gray;
$woocommerce-gray: #777;
$woocommerce-light-gray: $light-gray;
$woocommerce-black: #000;
$woocommerce-green: #85ad74;
$woocommerce-red: #b13c42;
$woocommerce-orange: #f78a51;
$woocommerce-yellow: #ffce4d;
$woocommerce-blue: #418bb6;
// Global Base Colors
//------------------------------------------------------------------------------
$woocommerce-base-border-color: $base-border-color;
$woocommerce-price-color: $woocommerce-green;
$woocommerce-price-from-color: lighten( $woocommerce-price-color, 20);
$woocommerce-stock-color: $woocommerce-green;
$woocommerce-out-of-stock-color: $woocommerce-red;
$woocommerce-tabs-border-color: $base-border-color;
$woocommerce-tabs-bg-color: $woocommerce-light-fog;
$woocommerce-tabs-link-color: $base-link-color;
$woocommerce-tabs-link-color-hover: $base-link-color-hover;
$woocommerce-on-sale-bg-color: $base-button-bg-color;
$woocommerce-on-sale-color: $base-button-font-color;
// Password Form Colors
//------------------------------------------------------------------------------
$woocommerce-pw-bg-color-strong: lighten($woocommerce-green, 15);
$woocommerce-pw-border-color-strong: $woocommerce-green;
$woocommerce-pw-bg-color-short: lighten( $woocommerce-red, 15);
$woocommerce-pw-border-color-short: $woocommerce-red;
$woocommerce-pw-bg-color-bad: lighten( $woocommerce-orange, 15);
$woocommerce-pw-border-color-bad: $woocommerce-orange;
$woocommerce-pw-bg-color-good: lighten( $woocommerce-yellow, 15);
$woocommerce-pw-border-color-good: $woocommerce-yellow;
// Button Colors
//------------------------------------------------------------------------------
$woocommerce-primary: $woocommerce;
$woocommerce-primary-text: $woocommerce-white;
$woocommerce-secondary: $woocommerce-light-fog;
$woocommerce-secondary-text: $woocommerce-dark-gray;
$woocommerce-alt-button-bg-color: $cta-button-bg-color;
$woocommerce-alt-button-color: $cta-button-font-color;
$woocommerce-alt-button-bg-color-hover: $cta-button-bg-color-hover;
$woocommerce-alt-button-color-hover: $cta-button-font-color-hover;
// Message Colors
//------------------------------------------------------------------------------
$woocommerce-message-border-color: $woocommerce-green;
$woocommerce-message-color: $woocommerce-green;
$woocommerce-message-info-border-color: $woocommerce-blue;
$woocommerce-message-info-color: $woocommerce-blue;
$woocommerce-message-error-border-color: $woocommerce-red;
$woocommerce-message-error-color: $woocommerce-red;
$woocommerce-coupon-border-color: $woocommerce-fog;
$woocommerce-star-rating-color: $woocommerce-fog;
$woocommerce-order-details-border-color: $woocommerce-fog;
// Content Colors
//------------------------------------------------------------------------------
$woocommerce-highlight: $woocommerce-green;
$woocommerce-highlight-text: $woocommerce-white;
$woocommerce-content-bg: $woocommerce-white;
$woocommerce-sub-text: $woocommerce-gray;
// Pagination Colors
//------------------------------------------------------------------------------
$woocommerce-pagination-background-color: $pagination-bg-color;
$woocommerce-pagination-background-color-hover: $pagination-bg-color-hover;
$woocommerce-pagination-current-background-color: $pagination-current-bg-color;
$woocommerce-pagination-link-color: $pagination-link-color;
$woocommerce-pagination-border-color: $base-border-color;
$woocommerce-pagination-border-color-hover: $base-border-color;
